@charset "UTF-8";
/*VARIAVEIS*/
:root{
    --height-bar-superior-header:70px;
    --color1 :#fefefe;
    --color2 :#A020F0;
    --color3 :#BA55D3;
}
/*ARQUIVO DE ANIMAÇÕES DE LAYOU INDEX*/

/*HEADER*/

header #bar-header #menu-header p:hover{
    transition: 0.5s;
    font-weight: 700;
    color:#555;
}

header #bar-header img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

header #title-alfa #menu-title .slot:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px var(--color1);
    transform: scale(1.1);
}